
body{
    background-color: #24353f;
}

*{
    background-color: #24353f;
    font-family: sans-serif;
    text-decoration: none !important;
}

.home-nav{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.title{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    margin-top: 6.25rem !important;
}

.title h1{
    color: #17a2b8;
    font-size: 2.5rem;
    font-weight: 500;
}